{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
<style>
    .card-img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Обрезает изображение и масштабирует его, сохраняя пропорции */
    border-radius: .25rem; /* Если хотите скругленные углы, установите значение радиуса */
    overflow: hidden; /* Прячем часть изображения, выходящую за пределы контейнера */
}
</style>





    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

<div class="col-lg-3">
    <form method="get" action="{% url 'shop' %}" class="form-inline">
    <div class="col-md-6 pb-4">
    <h1 class="h2 pb-4">Категории</h1>
    <select id="category" name="category" class="form-control">
                        <option value="">Все категории</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == request.GET.category|stringformat:"i" %}selected{% endif %}>{{ category.title }}</option>
                        {% endfor %}
                    </select>
    </div>
    <div class="col-md-6 pb-4">
        <h1 class="h2 pb-4">Фильтрации</h1>

            <div class="form-group mr-2">
                <div>
                    {{ filter.form.title.label }}
                    {{ filter.form.title }}
                </div>
                {{ filter.form.brand.label }}
                {{ filter.form.brand }}
                <div>
                    {{ filter.form.price__lt.label }}
                    {{ filter.form.price__lt }}
                </div>
                <div>
                    {{ filter.form.price__gt.label }}
                    {{ filter.form.price__gt }}
                </div>
                </form>
            </div>
            <button type="submit" class="btn btn-primary">Применить</button>
    </div>

</div>


            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                        </div>
                    </div>
                </div>


                <div class="row">
                    {% for cosmetic in page_obj %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ cosmetic.image.url }}" alt="Изображение косметики">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="{% url 'detail' cosmetic.id %}"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'detail' cosmetic.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'detail' cosmetic.id %}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'detail' pk=cosmetic.id %}" class="h3 text-decoration-none">{{ cosmetic.title }}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>{{ cosmetic.brand }}</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ cosmetic.price }} сом</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
                <div class="row">

                    <ul class="pagination pagination-lg justify-content-end">
                        {% for page_num in page_range %}
                        <li class="page-item">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_num }}" tabindex="-1">{{ page_num }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Наши бренды</h1>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% for cosmetic in cosmetics %}
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{ cosmetic.image.url }}" alt="Brand Logo"></a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->

    <!-- End Footer -->

    <!-- Start Script -->

    <!-- End Script -->
</body>
{% endblock %}

